body {
    margin: 0;
    background-color: #3399ff;
    color: #8BC6FF;
}

nav {
	display: flex;
	justify-content: end;
}

a {
	margin-left: 0.15%;
	margin-right: 0.15%;
	padding-left: 0.15%;
	padding-right: 0.15%;
	text-decoration: none;
	color: #8BC6FF;
	border: 2px solid #8BC6FF;
	font-size: 120%;
	font-family: fantasy;
}

img {
    max-width: 80%; /* I think this controls the width for the .page container in this case */
    height: auto; /* According to chatGPT, it maintains the aspect ratio */
}

ul {
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

.title_specification {
	height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 6vw;
	font-family: cursive;
}

.row {
    display: flex;
}

.player_container {
	margin: 0.35%;
    display: flex;
    flex: 1;
    overflow: hidden;
}

.image_area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_area {
    flex: 1;
    display: grid;
    align-items: center;
    border-right: 2px solid #8BC6FF;
    border-bottom: 2px solid #8BC6FF;
    border-radius: 20px;
    position: relative; /* For bringing pumpkin */
    overflow: hidden;
}

.name_area {
	color: #D3E3F2;
}

.friend_code_area {
	color: #0769C7;
}

.fav_text_area {
	color: #E4F0FB;
}

.name_area2 {
	color: #D3E3F2;
}

.friend_code_area2 {
	color: #0769C7;
}

.fav_text_area2 {
	color: #E4F0FB;
}

.pumpkin {
	position: absolute;
	z-index: -1;
	max-width: 60%; /* I think this controls the width for the .page container in this case */
    height: auto; /* According to chatGPT, it maintains the aspect ratio */
    right: -20%;
    bottom: -10%;
    opacity: 60%;
}

.skull {
	position: absolute;
	z-index: -1;
	max-width: 80%; /* I think this controls the width for the .page container in this case */
    height: auto; /* According to chatGPT, it maintains the aspect ratio */
    right: -18%;
    bottom: -9%;
    transform: scaleX(-1); /* Flip Image */
    opacity: 60%;
}

.video_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 600px) {
	.title_specification {
		font-size: 8vw;
	}
    .row {
        flex-direction: column;
    }
    .player_container {
    	margin: 1.50%;
    }
}
