@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
	margin: 0;
	font-family: fantasy;
	background-color: #226f9f;
	color: #22b6dd;
}

nav {
	display: flex;
	justify-content: end;
}
a {
	margin-left: 0.15%;
	margin-right: 0.15%;
	padding-left: 0.15%;
	padding-right: 0.15%;
	text-decoration: none;
	color: #22b6dd;
	border: 2px solid #22b6dd;
	font-size: 120%;
}

.page {
	height: 100vh;
}

.web-title {
	font-family: 'Press Start 2P', cursive;
	font-size: 8vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.top {
	display: flex;
}

.bottom {
	color: white;
	margin: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 160%;
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 120%;
	}

	footer {
		font-size: 80%;
	}

	.top {
		flex-direction: column;
	}

	.bottom {
		font-size: 100%;
	}
}
