body {
    margin: 0;
    background-color: black;
    color: orange;
}

nav {
	display: flex;
	justify-content: end;
}

a {
	margin-left: 0.15%;
	margin-right: 0.15%;
	padding-left: 0.15%;
	padding-right: 0.15%;
	text-decoration: none;
	color: orange;
	border: 2px solid orange;
	font-size: 120%;
	font-family: fantasy;
}

img {
    max-width: 80%; /* I think this controls the width for the .page container in this case */
    height: auto; /* According to chatGPT, it maintains the aspect ratio */
}

ul {
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
}

.player_container {
    display: flex;
    flex: 1;
}

.image_area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_area {
    flex: 1;
    display: grid;
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}
